{% extends 'blog/base.html' %}

{% block content %}
<h1>Login</h1>
<br />
{% if form.errors %}
<p>Your username and password didn't match. Please try again</p>
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}

	<p>
		<td> {{ form.username.label_tag }} </td>
		<td> {{ form.username }}</td>
	</p>
	<p>
		<td> {{ form.password.label_tag }} </td>
		<td> {{ form.password }} </td>
	</p>

<!--<div style="line-height:100%;">-->
<!--	<br>-->
<!--</div>-->
<button type="submit" class=" btn btn-default">Login</button>
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}	
