<!DOCTYPE html>

{% load staticfiles %}
<html>
	<head>
		<title>Bottom it up</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
	</head>
	<body>

		<div class="page-header" align="center">
			<h1><a href = "{% url 'information' %}">Bottom it up</a></h1>
			<h3>
				<a href = "{% url 'post_draft_list' %}">Drafts</a>&nbsp;&nbsp;&nbsp;&nbsp;
				<a href = "{% url 'post_list' %}">Posts</a>&nbsp;&nbsp;&nbsp;&nbsp;
				<a href = "{% url 'document_list' %}">Documents</a>
			</h3>
		</div>
	    <div>
	        <div class="body" align="right">
				{% if user.is_authenticated %}
					<div class="date"><h4><a  style="color:#034F84" href = "{% url 'tutorial' %}">Hello {{ user.username }} </h4></div>
					<p>	
					<a class="btn btn-default" href = "{% url 'auth_password_change' %}">Change password</a>&nbsp;
					<a class="btn btn-default" href = "{% url 'django.contrib.auth.views.logout' %}"> Logout</a>
					</p>
				{% endif %}
				{% if user.is_authenticated %}
					<a class="btn btn-default" href = "{% url 'post_new' %}">Add post</a>&nbsp;
					<a class="btn btn-default" href = "{% url 'document_upload' %}">Add document</a>
				{% else %}
				    <h4 align="right"><a  style="color:#034F84" href = "{% url 'tutorial' %}">How to use this platform</a></h4>	
					<a class="btn btn-default" href = "{% url 'registration_register' %}">Register</a>&nbsp;
					<a class="btn btn-default" href = "{% url 'django.contrib.auth.views.login' %}">Login</a>
				{% endif %}
		    </div>  
		</div>  
		     
			<div class="body">
				<div class="content">
					<div class="row">
		       				<div class="col-md-9">
			{% block content %}
			{% endblock %}	
						</div>
					</div>
				</div>
			</div>
	</body>
</html>
