<html>
	<head>
		<title>My blog</title>
	</head>
	<body>
		<div>
			<h1 align="center">
				<a href = "{% url 'information' %}">A useless blog</a>
			</h1>
			<h3 align="center">
				<a href = "{% url 'post_draft_list' %}">Drafts</a>
				<a href = "{% url 'post_list' %}">Posts</a>
				<a href = "{% url 'document_list' %}">Documents</a>
			</h3>
			{% if user.is_authenticated %}
		        <p align="right">Hello {{ user.username }} (<a href = "{% url 'django.contrib.auth.views.logout' %}">Logout</a>)</p>
		        {% endif %}
			<h4 align="right">
				{% if user.is_authenticated %}
				<a href = "{% url 'post_new' %}">Add post</a>
				<a href = "{% url 'document_upload' %}">Add document</a>
				<a href = "{% url 'auth_password_change' %}">Change password</a>
				{% else %}
				<a href = "{% url 'registration_register' %}">Register</a>
				<a href = "{% url 'django.contrib.auth.views.login' %}">Login</a>
				{% endif %}
			</h4>
		
		</div>
		{% block content %}
		{% endblock %}	
	</body>
</html>
