{% extends 'blog/base.html' %}

{% block content %}
	<h1> New document </h1>
	<br />
	<form action="{% url "document_upload" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>

            
            <button type="submit" class=" btn btn-default">Upload</button>
        </form>
{% endblock %}	 
   
