{% extends 'blog/base.html' %}

{% block content %}
	<h1>Document list</h1>
	<br />
        {% if documents %}
            <ul>
                {% for document in documents %}
                    <li><p><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a> 
                    Uploaded by {{ document.author }} on {{ document.published_date }}
                    {% if user.is_authenticated %}
				<a class="btn btn-default" href="{% url 'document_remove' pk=document.pk %}">Remove</a></p>
		    {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No documents.</p>
        {% endif %}
{% endblock %}	
