.page-header {
    background-color: #034F84;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.page-header h3, .page-header h3 a, .page-header h3 a:visited, .page-header h3 a:active {
    color: #ffffff;
    text-decoration: none;
}

.body {
    background-color: #ffffff;
    margin-top: 0;
	padding: 20px 20px 20px 40px;
}

.content {
    margin-left: 40px;
}

.comment {
    margin: 30px 0px 20px 20px;
}

.date p, a {
    color: #034F84;
}


h1, h2, h3, h4, a, p {
    font-family: 'Lobster';
    color: #000000;
}

.text p{
      color: #000000;
      font-family: 'Lobster';
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-panel, .top-panel:hover, .top-panel:visited{
    color: #ffffff;
    font-size: 14pt;
}

.post {
    margin-bottom: 60px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

hr {
	border-color: #000000;
	 margin: 30px auto;
}
